<tr>
  <td>
    <img src="https://hd.unsplash.com/photo-1465996140498-df84be101126" width="100"/>
  </td>
  <td>
    <%=attraction.name%>
  </td>
  <td>
    <%=attraction.tickets%>
  </td>
  <td>
    <%if current_user.admin?%>
      <%=link_to "Show #{attraction.name}", attraction_path(attraction)%>
    <%else%>
    <%=link_to "Go on #{attraction.name}", attraction_path(attraction)%>
    <%end%>
  </td>
</tr>
